name: Fetch Mushclient Definitions

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Excute
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: npm-cache
        with:
          path: "./node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('package-lock.json') }}

      - name: Install Dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: |
          npm install

      - name: Build
        run: |
          npm run build

      - name: Fetch Mushclient Defintions
        id: fetch
        run: |
          npm run start

      - uses: actions/upload-artifact@v2
        with:
          name: mushclient_definitions
          path: ./mushclient_definitions.lua
